In [34]:
duplicated = [1]*10
print(duplicated)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [35]:
nested = [[1,2,3,],[4,5,6,],[7,8,9,]]
s=print(nested)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [36]:
list("harsh")

['h', 'a', 'r', 's', 'h']

In [37]:
"welcome to listening".split()

['welcome', 'to', 'listening']

In [38]:
n = [11,12,13,14,15,16,17,18,19,20]

n[:5], n[-5:], n[-1], n[0], n[2:-2], n[::-1], n[4::-1], n[::2],n[1::2]

([11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20],
 20,
 11,
 [13, 14, 15, 16, 17, 18],
 [20, 19, 18, 17, 16, 15, 14, 13, 12, 11],
 [15, 14, 13, 12, 11],
 [11, 13, 15, 17, 19],
 [12, 14, 16, 18, 20])

In [39]:
n[0] = 155

In [40]:
n

[155, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [41]:
movies = []

print(type(movies))
print(len(movies))
movies.append("Star wars")
movies.append("Harry Potter")
movies.append("the core")
print(movies)
print(len(movies))

<class 'list'>
0
['Star wars', 'Harry Potter', 'the core']
3

In [42]:
l1 = [1,2,6]
l2 = [5,1]

l1 and l2

[5, 1]

In [43]:
l1.extend(l2)
l2.extend(l1)
len(l1)

5

In [44]:
n.remove(16)

In [45]:
n

[155, 12, 13, 14, 15, 17, 18, 19, 20]

In [46]:
n.pop(0)

155

In [47]:
n

[12, 13, 14, 15, 17, 18, 19, 20]

In [48]:
n.clear()

In [49]:
n

[]

In [52]:
n = [64,6545,6586768,432,3,45,456323,45453,4324534,53354,5343,46,64,53]
n.sort()
print(n)
n.sort(reverse=True)
print(n)
sorted(n)

[3, 45, 46, 53, 64, 64, 432, 5343, 6545, 45453, 53354, 456323, 4324534, 6586768]
[6586768, 4324534, 456323, 53354, 45453, 6545, 5343, 432, 64, 64, 53, 46, 45, 3]

[3,
 45,
 46,
 53,
 64,
 64,
 432,
 5343,
 6545,
 45453,
 53354,
 456323,
 4324534,
 6586768]

In [53]:
x = [1,2,3]
y = x
z = x.copy()
x.append(4)
y.append(5)
z.append(6)
x,y,z

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 6])

In [61]:
x = [1,2,3,4,5,6,7,8,9]
x2 = []
for i in x:
    x2.append(i**2)

In [62]:
x2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
x2 = [i**2 for i in x]

In [67]:
x2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
a = [65,216,4563,134,64,231,456,4,32,1]
b = [i-10 for i in a]

In [74]:
b

[55, 206, 4553, 124, 54, 221, 446, -6, 22, -9]

In [75]:
c = [i**2 for i in x if i%2==0]

In [76]:
c

[4, 16, 36, 64]

In [77]:
d = [i-5 for i in x if i%2!=0]

In [78]:
d

[-4, -2, 0, 2, 4]

In [79]:
crap_list = ["A",1,2,3,"B","C","D",4,5,6,7,8,9]
clean_list = [i for i in crap_list if isinstance(i,str)]

In [80]:
clean_list

['A', 'B', 'C', 'D']

In [83]:
nums = [int(i) for i in input().split()]

In [84]:
nums

[132,
 131,
 321,
 313,
 13,
 13,
 3,
 32131,
 321,
 3,
 61,
 321,
 31,
 3,
 454,
 5,
 231,
 3,
 65]

In [85]:
a = 1,2,3,4,5

In [86]:
a

(1, 2, 3, 4, 5)

In [5]:
t = (1,2,3,4,5)
a,*b,c = t

In [6]:
a,b,c

(1, [2, 3, 4], 5)

In [10]:
l = (i for i in [1,2,3,5])

In [11]:
l

In [14]:
l = [1,2,3.21,5,65]
print(*l, sep="\n")

1
2
3.21
5
65

In [15]:
x= set()

In [17]:
print(x)

set()

In [18]:
y = {1,2,3,4,5,6,1,2}

In [19]:
y

{1, 2, 3, 4, 5, 6}

In [21]:
f = {"apple","banana","cherry"}

In [22]:
f

{'apple', 'banana', 'cherry'}

# dictionary

In [1]:
data = {
    "name":"Alex",
    "isMarried":True,
    "hasChildren":False,
    "age":29,
    "city":"New York",
    "profession":"photographer"
}

In [2]:
data

{'name': 'Alex',
 'isMarried': True,
 'hasChildren': False,
 'age': 29,
 'city': 'New York',
 'profession': 'photographer'}

In [3]:
expense = dict(
    food = 500,
    rent = 1700,
    insurance = 200
)

In [4]:
expense

{'food': 500, 'rent': 1700, 'insurance': 200}

In [5]:
movies = {}

In [6]:
movies

{}

In [11]:
data["age"],data["name"],data["city"]

(29, 'Alex', 'New York')

In [13]:
#print(data["state"])

In [14]:
data.get("city")

'New York'

In [16]:
print(data.get("City"))

None

In [17]:
print(data.get("Age",100))

100

In [18]:
movies["deadpool and wolwerine"] = "Shawn Levy"
movies["Bahubali"] = "SS Rajamauli"
movies["Intresteller"] = "Christopher Nolan"

In [19]:
movies

{'deadpool and wolwerine': 'Shawn Levy',
 'Bahubali': 'SS Rajamauli',
 'Intresteller': 'Christopher Nolan'}

In [20]:
movies.update(
    {
        "The Dark Knight":"Christopher Nolan",
        "Oppenhiemer":"Christopher Nolan"
    }
)

In [22]:
movies

{'deadpool and wolwerine': 'Shawn Levy',
 'Bahubali': 'SS Rajamauli',
 'Intresteller': 'Christopher Nolan',
 'The Dark Knight': 'Christopher Nolan',
 'Oppenhiemer': 'Christopher Nolan'}

In [23]:
len(movies)

5

In [24]:
movies.pop("Bahubali")

'SS Rajamauli'

In [27]:
for item in movies:
    print(item, movies[item])

deadpool and wolwerine Shawn Levy
Intresteller Christopher Nolan
The Dark Knight Christopher Nolan
Oppenhiemer Christopher Nolan

In [26]:
for k,v in movies.items():
    print(k, v)

deadpool and wolwerine Shawn Levy
Intresteller Christopher Nolan
The Dark Knight Christopher Nolan
Oppenhiemer Christopher Nolan

In [28]:
report = {
    1:{
        "name":"Alex",
        "subjects":{
            "maths":90,
            "english":95,
            "science":85,
        }
    },
    2:{
        "name":"John",
        "subjects":{
            "maths":80,
            "english":95,
            "science":70,
        }
    },
}

In [29]:
report[1]["subjects"]["maths"]

90

In [30]:
print(report)

{1: {'name': 'Alex', 'subjects': {'maths': 90, 'english': 95, 'science': 85}}, 2: {'name': 'John', 'subjects': {'maths': 80, 'english': 95, 'science': 70}}}

In [31]:
from pprint import pp
pp(report)

{1: {'name': 'Alex', 'subjects': {'maths': 90, 'english': 95, 'science': 85}},
 2: {'name': 'John', 'subjects': {'maths': 80, 'english': 95, 'science': 70}}}