In [34]:
duplicated = [1]*10
print(duplicated)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [35]:
nested = [[1,2,3,],[4,5,6,],[7,8,9,]]
s=print(nested)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [36]:
list("harsh")

['h', 'a', 'r', 's', 'h']

In [37]:
"welcome to listening".split()

['welcome', 'to', 'listening']

In [38]:
n = [11,12,13,14,15,16,17,18,19,20]

n[:5], n[-5:], n[-1], n[0], n[2:-2], n[::-1], n[4::-1], n[::2],n[1::2]

([11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20],
 20,
 11,
 [13, 14, 15, 16, 17, 18],
 [20, 19, 18, 17, 16, 15, 14, 13, 12, 11],
 [15, 14, 13, 12, 11],
 [11, 13, 15, 17, 19],
 [12, 14, 16, 18, 20])

In [39]:
n[0] = 155

In [40]:
n

[155, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [41]:
movies = []

print(type(movies))
print(len(movies))
movies.append("Star wars")
movies.append("Harry Potter")
movies.append("the core")
print(movies)
print(len(movies))

<class 'list'>
0
['Star wars', 'Harry Potter', 'the core']
3

In [42]:
l1 = [1,2,6]
l2 = [5,1]

l1 and l2

[5, 1]

In [43]:
l1.extend(l2)
l2.extend(l1)
len(l1)

5

In [44]:
n.remove(16)

In [45]:
n

[155, 12, 13, 14, 15, 17, 18, 19, 20]

In [46]:
n.pop(0)

155

In [47]:
n

[12, 13, 14, 15, 17, 18, 19, 20]

In [48]:
n.clear()

In [49]:
n

[]

In [52]:
n = [64,6545,6586768,432,3,45,456323,45453,4324534,53354,5343,46,64,53]
n.sort()
print(n)
n.sort(reverse=True)
print(n)
sorted(n)

[3, 45, 46, 53, 64, 64, 432, 5343, 6545, 45453, 53354, 456323, 4324534, 6586768]
[6586768, 4324534, 456323, 53354, 45453, 6545, 5343, 432, 64, 64, 53, 46, 45, 3]

[3,
 45,
 46,
 53,
 64,
 64,
 432,
 5343,
 6545,
 45453,
 53354,
 456323,
 4324534,
 6586768]

In [53]:
x = [1,2,3]
y = x
z = x.copy()
x.append(4)
y.append(5)
z.append(6)
x,y,z

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 6])

In [61]:
x = [1,2,3,4,5,6,7,8,9]
x2 = []
for i in x:
    x2.append(i**2)

In [62]:
x2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
x2 = [i**2 for i in x]

In [67]:
x2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
a = [65,216,4563,134,64,231,456,4,32,1]
b = [i-10 for i in a]

In [74]:
b

[55, 206, 4553, 124, 54, 221, 446, -6, 22, -9]

In [75]:
c = [i**2 for i in x if i%2==0]

In [76]:
c

[4, 16, 36, 64]

In [77]:
d = [i-5 for i in x if i%2!=0]

In [78]:
d

[-4, -2, 0, 2, 4]

In [79]:
crap_list = ["A",1,2,3,"B","C","D",4,5,6,7,8,9]
clean_list = [i for i in crap_list if isinstance(i,str)]

In [80]:
clean_list

['A', 'B', 'C', 'D']

In [83]:
nums = [int(i) for i in input().split()]

In [84]:
nums

[132,
 131,
 321,
 313,
 13,
 13,
 3,
 32131,
 321,
 3,
 61,
 321,
 31,
 3,
 454,
 5,
 231,
 3,
 65]

In [85]:
a = 1,2,3,4,5

In [86]:
a

(1, 2, 3, 4, 5)