loops in python
- `for` loop -> step based loop
- `while` loop -> condition based loop

In [5]:
range(10)

range(0, 10)

In [8]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [9]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [16]:
for i in range(10,20,2):
    print(i, end=", ")

10, 12, 14, 16, 18,

In [17]:
for i in range(5,-6,-1):
    print(i, end=", ")

5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5,

In [18]:
word = "Harsh Raj Jaiswal"

for char in word:
    print(char)

H
a
r
s
h

R
a
j

J
a
i
s
w
a
l

In [19]:
data = "p_y@!t@h#on"

for i in data:
    if i.isalpha():
        print(i)

p
y
t
h
o
n

In [22]:
data = "p_y@!t@h#on"

for i in data:
    if i in "qwertyuiopasdfghjklzxcvbnm":
        print(i)

p
y
t
h
o
n

In [24]:
nums = list(range(-5,5))

for num in nums:
    if num%2==0:
        print(num)

-4
-2
0
2
4

In [28]:
fruits = ['apple','banana','cherry','dragonfruits',"honeydew", "kiwi", "lemon", "mango", "nectarine", "orange", 
    "papaya", "quince"]



for i in fruits:
    print(i)
    if i == "orange":
        break

apple
banana
cherry
dragonfruits
honeydew
kiwi
lemon
mango
nectarine
orange

In [30]:
nums  = [120,-20,10,40,101,-5,15]
sum = 0

for i in nums:
    if i > 0:
        sum+=i
print(sum)

286